/* My header */

a {
    color: #333;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.header__sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 990;
    background: #fff;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.header__nav {
    width: 39%;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-list.--left {
    justify-content: flex-end;
}

.header__nav-list.--right .header__nav-item {
    margin-left: 15px;
}

.header__nav-list.--right .header__nav-item:first-child {
    margin-left: 0px;
}

.header__nav-item {
    margin-left: 25px;
}

.header__nav-item.--active a {
    color: var(--tertiary);
}

.header__logo {
    font-size: 3.6rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header__logo:hover {
    cursor: default;
}

.header__nav-item-login {
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    padding: 9px 10px;
    display: block;
    /* margin-top: 10px; */
}

.header__nav-item-login:hover {
    color: rgb(202, 202, 202);
    background-color: rgb(41, 41, 41)
}

.header__nav-search {
    position: relative;
    border: 1px solid #999;
    height: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.header__nav-search-input {
    border: none;
    height: 30px;
    padding: 0px 5px 0px 10px;
    background-color: transparent;
    width: 185px;
}

.header__nav-search-icon {
    padding-right: 10px;
    font-size: 1.6rem;
}

.header__nav-search-icon:hover {
    cursor: pointer;
}

#header-search-result {
    position: absolute;
    top: 115%;
    right: 0px;
    background-color: white;
    width: 300px;
    padding: 5px 0px;
    border: 1px solid rgb(218, 218, 218);
    display: none;
}

.search-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.header__search-result-list {}

.header__search-result-rate {
    background-color: #03ae03;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
}

.header__search-result-none {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search-result-all {
    padding: 0px 8px;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 24px;
    max-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__search-result-all:hover {
    color: #333;
    background-color: rgb(224, 224, 224);
}

.header__search-result-title {
    padding: 4px 8px;
    font-size: 1.1rem;
}

.header__search-result-item {
    padding: 4px 8px;
}

.header__search-result-item:hover {
    background-color: rgb(224, 224, 224);
}

.header__search-result-item a {
    display: flex;
    align-items: center;
}

.header__search-result-item a:hover {
    color: #333;
}

.header__search-image-box {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 36px;
    width: 54px;
}

.header__search-result-img {
    height: 100%;
    object-fit: contain;
}

.header__search-result-detail {
    font-weight: 1.3rem;
    padding-left: 8px;
    flex: 1;
}

.header__search-result-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 3px;
    line-height: 16px;
    max-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__search-result-location {
    line-height: 16px;
    max-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: rgb(146, 146, 146);
    font-size: 1.2rem;
}


/* Header mobie nav */


/* Modal */

.mobile__nav-category {
    font-size: 2.8rem;
    padding: 10px;
    /* border:1px solid var(--primary); */
    color: var(--primary);
    display: none;
}

.mobile__nav-category:hover {
    cursor: pointer;
}

#mobile-nav-check:checked~.nav__modal {
    display: block;
}

.nav__modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    /* transition: all ease 1s; */
}

.nav__modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: appear linear 0.35s;
}

.nav__modal-body {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 280px;
    z-index: 1;
    background-color: var(--primary);
    animation: nav-appear linear 0.35s;
}

@keyframes nav-appear {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Modal content */

.mobile__nav {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 20px;
}

.mobile__nav-text {
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    padding: 15px;
}

.mobile__nav-text:hover {
    cursor: default;
}

.mobile__nav-item a {
    display: block;
    padding: 8px 0px;
    color: rgb(156, 156, 156);
    transition: all ease 0.5s;
}

.mobile__nav-item a:hover {
    color: var(--tertiary);
}

.mobile__nav-item.--active a {
    color: var(--tertiary);
}

.mobile__nav-item:last-child a {
    margin-top: 10px;
    border: 1px solid rgb(156, 156, 156);
}

.mobile__nav-item:last-child a:hover {
    color: white;
    border-color: white;
}


/* Account */

.account {
    position: relative;
}

.account__user {
    display: flex;
    align-items: center;
}

.account__user:hover {
    color: black;
    cursor: pointer;
}

.account__user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.account__user-name {
    padding-left: 7px;
}

#account__dropdown {
    position: absolute;
    top: 133%;
    right: 0px;
    display: none;
}

.show-element {
    display: block !important;
}

.account__dropdown-list {
    background-color: white;
    width: 200px;
    border: 1px solid rgb(167, 167, 167);
    padding: 10px 0px 5px 0px;
}

.account__dropdown-item:last-child {
    border-top: 1px solid rgb(211, 211, 211);
    margin-top: 4px;
}

.account__dropdown-item:last-child a {
    display: flex;
    justify-content: space-between;
}

#header__dropdown-triangle-up {
    display: none;
    position: absolute;
    right: 30%;
    top: 110%;
    width: 14px;
    height: 14px;
    background-color: white;
    border-top: 1px solid rgb(167, 167, 167);
    border-left: 1px solid rgb(167, 167, 167);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
}

.account__dropdown-item a {
    display: block;
    padding: 7px 10px;
}

.account__dropdown-item:hover {
    cursor: pointer;
    color: var(--tertiary);
}


/* Responsive */

@media screen and (max-width:992px) {
    .header__nav.--mobile {
        width: 43%;
    }
    .header__nav-item-login {
        padding: 9px 6px;
    }
    .header__nav-search-icon {
        padding-right: 5px;
    }
    .header__nav-item {
        margin-left: 15px;
    }
    .header__nav-list.--left {
        padding-right: 20px;
    }
    .header__logo {
        padding-right: 10px;
    }
}

@media screen and (max-width:768px) {
    .header {
        justify-content: space-between;
    }
    .header__nav {
        width: 0px;
    }
    .header__nav.--mobile {
        width: 38%;
    }
    .header__logo {
        margin: 0px 20px 10px 10px;
        flex: 1;
    }
    .mobile__nav-category {
        display: block;
    }
}

@media screen and (max-width:576px) {
    .header__nav.--mobile {
        width: 47%;
    }
    .header__logo {
        margin: 0px 20px 10px 10px;
    }
}

@media screen and (max-width:480px) {
    .header__nav-search {
        display: none !important;
    }
}