@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Merriweather", serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6rem;
  color: #333;
  background-color: #EEE;
}
body.overflow {
  overflow-x: auto;
}

a {
  color: #333;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  color: #000;
}

p {
  margin-bottom: 30px;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Playfair Display", serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #fb6e14;
  color: #fff;
  border: 2px solid #fb6e14;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f16104 !important;
  border-color: #f16104 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #fb6e14;
  border: 2px solid #fb6e14;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #fb6e14;
  color: #fff;
}

.btn-success {
  background: #58ca7e;
  color: #fff;
  border: 2px solid #58ca7e;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #45c46f !important;
  border-color: #45c46f !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #58ca7e;
  border: 2px solid #58ca7e;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #58ca7e;
  color: #fff;
}

.btn-info {
  background: #1784fb;
  color: #fff;
  border: 2px solid #1784fb;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #0477f4 !important;
  border-color: #0477f4 !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #1784fb;
  border: 2px solid #1784fb;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #1784fb;
  color: #fff;
}

.btn-warning {
  background: #fed330;
  color: #fff;
  border: 2px solid #fed330;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #fece17 !important;
  border-color: #fece17 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #fed330;
  border: 2px solid #fed330;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #fed330;
  color: #fff;
}

.btn-danger {
  background: #fb4f59;
  color: #fff;
  border: 2px solid #fb4f59;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #fa3641 !important;
  border-color: #fa3641 !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #fb4f59;
  border: 2px solid #fb4f59;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #fb4f59;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #fb6e14;
}

/*
 * Flexslider
 */
#home {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#home .flexslider {
  border: none;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
#home .flexslider .text {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 50%;
  margin-top: -212px;
  text-align: center;
}
#home .flexslider .text h1 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-size: 300px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 992px) {
  #home .flexslider .text h1 {
    font-size: 100px;
  }
}
#home .flexslider .text h2 {
  margin: 10px 0px;
  padding: 0;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  #home .flexslider .text h2 {
    font-size: 20px;
  }
}
#home .flexslider .text h2 span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-transform: none;
}
#home .flexslider .text h2 a {
  color: #fb6e14;
}
#home .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
}
#home .flexslider .overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  background: #000;
}
#home .flexslider .flex-control-nav,
#home .flexslider .flex-direction-nav {
  display: none;
}

.main-nav {
  position: relative;
  background: #fff;
  height: var(--header-height);
}
.main-nav.shadow {
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}
/* .main-nav:before, .main-nav:after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: #e6e6e6;
} */
.main-nav:before {
  top: 2px;
}
.main-nav:after {
  bottom: 2px;
}
.main-nav .menu-1,
.main-nav .menu-2,
.main-nav .logo {
  vertical-align: middle;
  float: left;
  line-height: 0;
}
.main-nav .menu-1 a,
.main-nav .menu-2 a,
.main-nav .logo a {
  padding: 30px 10px;
  color: #130d08;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.main-nav .menu-1 a:hover, .main-nav .menu-1 a:focus, .main-nav .menu-1 a:active,
.main-nav .menu-2 a:hover,
.main-nav .menu-2 a:focus,
.main-nav .menu-2 a:active,
.main-nav .logo a:hover,
.main-nav .logo a:focus,
.main-nav .logo a:active {
  outline: none;
  text-decoration: none;
}
.main-nav .menu-1 a.active,
.main-nav .menu-2 a.active,
.main-nav .logo a.active {
  color: var(--tertiary);
}
.main-nav .menu-1 {
  text-align: right;
  width: 40.33%;
}
.main-nav .menu-1 a {
  vertical-align: middle;
}
.main-nav .logo {
  text-align: center;
  width: 19.33%;
  font-size: 3.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}
.main-nav .logo a {
  position: relative;
  top: -5px;
  display: inline-block;
}
.main-nav .menu-2 {
  text-align: left;
  width: 40.33%;
}

.heading .heading {
  font-size: 50px;
  font-style: italic;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .heading .heading {
    font-size: 30px;
  }
}
.heading .heading:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 2px;
  left: 50%;
  background: #fb6e14;
  margin-left: -20px;
}
.heading .sub-heading {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .heading .sub-heading {
    font-size: 18px;
  }
}
/* Menu */
#menus {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #menus {
    padding: 5em 0;
  }
}
#menus .heading .heading {
  position: relative;
  padding-top: 30px !important;
}
#menus .heading .heading:before, #menus .heading .heading::before {
  height: 64px;
  width: 64px;
  position: absolute;
  content: "";
  background: url(../images/0401-vegan.png) no-repeat;
  top: 0;
  left: 50%;
  margin-top: -50px;
  margin-left: -32px;
}
#menus .heading .sub-heading {
  color: #a99c92;
}
#menus .food-menu {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #menus .food-menu {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    clear: none !important;
  }
}
#menus .food-menu h2 {
  margin-bottom: 50px;
  font-style: italic;
  position: relative;
}
#menus .food-menu h2.drinks {
  padding-left: 50px;
}
#menus .food-menu h2.drinks:before {
  background: url(../images/0301-pina-colada.png) no-repeat;
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 64px;
  height: 64px;
}
#menus .food-menu h2.dishes {
  padding-left: 80px;
}
#menus .food-menu h2.dishes:before {
  background: url(../images/0302-steak.png) no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 45px;
}
#menus .food-menu ul {
  padding: 0;
  margin: 0;
}
#menus .food-menu ul li {
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px dotted #ccc;
  display: block;
  float: left;
  width: 100%;
}
#menus .food-menu ul li .food-desc {
  clear: both;
  float: left;
  width: 80%;
}
#menus .food-menu ul li .food-desc > figure {
  width: 20%;
  float: left;
  position: relative;
  margin-right: 4%;
}
#menus .food-menu ul li .food-desc > figure img {
  max-width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0;
}
#menus .food-menu ul li .food-desc > div {
  width: 75%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
}
#menus .food-menu ul li .food-desc > div p {
  margin: 0;
}
#menus .food-menu ul li .food-desc > div h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 20px;
  color: #000;
}
#menus .food-menu ul li .food-pricing {
  float: right;
  width: 20%;
  text-align: right;
  font-size: 20px;
  color: #fb6e14;
}

#contact {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #contact {
    padding: 5em 0;
  }
}
#contact h3 {
  margin-bottom: 30px;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  #contact {
    padding: 5em 0;
  }
}
#contact .heading .heading {
  position: relative;
  padding-top: 30px !important;
}
#contact .heading .heading:before, #contact .heading .heading::before {
  height: 61px;
  width: 61px;
  position: absolute;
  content: "";
  background: url(../images/0203-coffee-love.png) no-repeat;
  top: 0;
  left: 50%;
  margin-top: -50px;
  margin-left: -24px;
}
#contact .heading .sub-heading {
  color: #a99c92;
}
#contact .social {
  padding: 0;
  margin: 0;
}
#contact .social li {
  padding: 0;
  margin: 0;
}
#contact .contact-info {
  padding: 0;
  margin: 0 0 1.5em 0;
}
#contact .contact-info li {
  position: relative;
  padding: 0;
  margin: 0 0 1.5em 0;
  padding-left: 50px;
  list-style: none;
}
#contact .contact-info li i {
  position: absolute;
  top: .4em;
  left: 0;
}

#container {
  position: relative;
  z-index: 10;
}

#footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 7em 0;
  z-index: 1;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 768px) {
  #footer {
    padding: 5em 0;
  }
}
@media screen and (max-width: 480px) {
  #footer {
    height: inherit;
    position: relative;
  }
}

.social {
  padding: 0;
  margin: 0;
}
.social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.social li a {
  font-size: 30px;
  padding: 10px;
}
.social li a i {
  font-size: 30px;
}
.social li a:hover, .social li a:active, .social li a:focus {
  outline: none;
  text-decoration: none;
}

#offcanvas, #container, .nav-toggle, #footer {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container, .nav-toggle, #footer {
  z-index: 2;
  position: relative;
}

#offcanvas {
  display: block;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 275px;
  background: rgba(0, 0, 0, 0.9);
  padding: 0.75em 1.25em;
  -moz-transform: translateX(-275px);
  -webkit-transform: translateX(-275px);
  -ms-transform: translateX(-275px);
  -o-transform: translateX(-275px);
  transform: translateX(-275px);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
#offcanvas a {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 7px 0;
}
#offcanvas a:hover, #offcanvas a:focus, #offcanvas a:active {
  outline: none;
  text-decoration: none;
  color: #fb6e14;
}
#offcanvas a.active {
  color: #fb6e14;
}
@media screen and (max-width: 768px) {
  #offcanvas {
    display: block;
  }
}
.offcanvas-visible #offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  #container, #footer, .nav-toggle {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
.offcanvas-visible #container, .offcanvas-visible #footer, .offcanvas-visible .nav-toggle {
  -moz-transform: translateX(275px);
  -webkit-transform: translateX(275px);
  -ms-transform: translateX(275px);
  -o-transform: translateX(275px);
  transform: translateX(275px);
}

.js-sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  display: block;
}
@media screen and (max-width: 768px) {
  .js-sticky {
    display: none;
  }
}

.nav-toggle {
  cursor: pointer;
  text-decoration: none;
}
.nav-toggle.active i::before, .nav-toggle.active i::after {
  background: #fff;
}
.nav-toggle:hover, .nav-toggle:focus, .nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #fff;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all .2s ease-out;
}
.nav-toggle i::before, .nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav-toggle i::before {
  top: -7px;
}

.nav-toggle i::after {
  bottom: -7px;
}

.nav-toggle:hover i::before {
  top: -10px;
}

.nav-toggle:hover i::after {
  bottom: -10px;
}

.nav-toggle.active i {
  background: transparent;
}

.nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.nav-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  border-bottom: none !important;
  background: rgba(0, 0, 0, 0.7);
  padding: 0px 10px 10px 10px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
}

#type {
  padding: 7em 0;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#type > .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}
#type > .container {
  z-index: 10;
  position: relative;
}
#type .type {
  float: left;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #type .type {
    margin-bottom: 30px;
  }
}
#type h3 {
  margin-bottom: 30px;
  font-style: italic;
  color: #fff;
  font-size: 40px;
  text-align: center;
  padding-top: 110px;
}
#type h3.with-icon {
  position: relative;
}
#type h3.with-icon:before, #type h3.with-icon::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -54px;
  margin-top: -125px;
  width: 104px;
  height: 104px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#type h3.with-icon.icon-1:before, #type h3.with-icon.icon-1::before {
  background: url(../images/type-1.png) no-repeat center center;
}
#type h3.with-icon.icon-2:before, #type h3.with-icon.icon-2::before {
  background: url(../images/type-2.png) no-repeat center center;
}
#type h3.with-icon.icon-3:before, #type h3.with-icon.icon-3::before {
  background: url(../images/type-3.png) no-repeat center center;
}
#type h3.with-icon.icon-4:before, #type h3.with-icon.icon-4::before {
  background: url(../images/type-4.png) no-repeat center center;
}
#type p {
  color: rgba(255, 255, 255, 0.7);
}

.js .to-animate, .js
.to-animate-2 {
  opacity: 0;
}

.row-padded {
  padding-bottom: 40px;
}

/*# sourceMappingURL=style.css.map */
